/* Monopoly SCSS */
/* Created by Ceri Woolway beginning October 2020 */
/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Kabel-Heavy";
  src: url("fonts/Kabel-Heavy.eot?") format("eot"), url("fonts/Kabel-Heavy.woff") format("woff"), url("fonts/Kabel-Heavy.ttf") format("truetype"), url("fonts/Kabel-Heavy.svg#Kabel-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Kabel-Heavy', sans-serif;
  font-size: 24px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: #d5e8d4; }

main {
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d5e8d4; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b5d6b3; }

/* PLAYER CREATOR ------------------------------------------------------------ */
#player-creator {
  display: flex;
  align-items: center;
  justify-content: center; }

.player-creation-panel {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin: 10px;
  min-width: 200px; }
  .player-creation-panel h2 {
    font-size: 1em;
    margin-bottom: 10px; }
  .player-creation-panel input {
    text-align: center;
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0; }
  .player-creation-panel ::placeholder {
    font-style: italic; }

.add-player-button {
  background: #b5d6b3;
  border-radius: 10px;
  align-self: stretch;
  min-width: 150px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #60875E; }
  .add-player-button img {
    margin-top: 15px;
    width: 35px; }

/* BOARD --------------------------------------------------------------------- */
#board {
  border: 3px solid #000;
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: 80px auto 80px;
  max-width: 900px;
  position: relative; }

#south {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row-reverse; }
  #south > div {
    border-left: 3px solid #000;
    border-top: 3px solid #000; }
  #south > div:last-child {
    border-left: none; }

#south > div:nth-child(1) {
  grid-column-start: 12;
  grid-column-end: 11; }

#south > div:nth-child(2) {
  grid-column-start: 11;
  grid-column-end: 10; }

#south > div:nth-child(3) {
  grid-column-start: 10;
  grid-column-end: 9; }

#south > div:nth-child(4) {
  grid-column-start: 9;
  grid-column-end: 8; }

#south > div:nth-child(5) {
  grid-column-start: 8;
  grid-column-end: 7; }

#south > div:nth-child(6) {
  grid-column-start: 7;
  grid-column-end: 6; }

#south > div:nth-child(7) {
  grid-column-start: 6;
  grid-column-end: 5; }

#south > div:nth-child(8) {
  grid-column-start: 5;
  grid-column-end: 4; }

#south > div:nth-child(9) {
  grid-column-start: 4;
  grid-column-end: 3; }

#south > div:nth-child(10) {
  grid-column-start: 3;
  grid-column-end: 2; }

#west {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  flex-direction: column-reverse; }
  #west > div {
    border-right: 3px solid #000;
    border-top: 3px solid #000; }
  #west > div:last-child {
    border-top: none; }

#north {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }
  #north > div {
    border-right: 3px solid #000;
    border-bottom: 3px solid #000; }
  #north > div:last-child {
    border-right: none; }

#east {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  flex-direction: column; }
  #east > div {
    border-left: 3px solid #000;
    border-bottom: 3px solid #000; }
  #east > div:last-child {
    border-bottom: none; }

.corner.special {
  flex-basis: 80px;
  flex-grow: unset;
  flex-shrink: unset; }

.row {
  display: flex;
  overflow: hidden; }

.row > div {
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  flex-basis: 7%; }

#board .row > .property,
#board .row > .community-chest,
#board .row > .special,
#board .row > .station,
#board .row > .chance,
#board .row > .utility {
  padding: 5px;
  text-align: center;
  font-size: 10px;
  min-height: 50px; }

/* Normal property -----------------------------------------------------------*/
.property {
  position: relative;
  padding-top: 20px !important;
  text-align: center; }
  .property:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    border-bottom: 3px solid #000; }

.property.brown:before {
  background: #824c26; }

.property.lightblue:before {
  background: #99d1f4; }

.property.pink:before {
  background: #d52788; }

.property.orange:before {
  background: #f1970b; }

.property.red:before {
  background: #db0926; }

.property.yellow:before {
  background: #e9ed38; }

.property.green:before {
  background: #0aa959; }

.property.darkblue:before {
  background: #3e64ad; }

.property-price {
  font-size: 14px; }

/* Special property ----------------------------------------------------------*/
.community-chest {
  background: url("images/community-chest.svg") center no-repeat;
  background-size: contain; }

.station {
  background: url("images/station.svg") center calc(100% - 2px) no-repeat;
  background-size: 40px; }

.chance {
  background: url("images/chance.svg") center calc(100% - 6px) no-repeat;
  background-size: 50px; }

/* Currency symbol -----------------------------------------------------------*/
.currencySymbol {
  display: inline-block;
  font-size: 80%;
  transform: rotate(180deg) translateY(5%);
  margin-top: -10%; }

/* Dice ----------------------------------------------------------------------*/
.dice {
  width: 35px;
  height: 35px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 5px;
  background-size: contain; }

.dice-roll-1 {
  background-image: url("images/dice-1.svg"); }

.dice-roll-2 {
  background-image: url("images/dice-2.svg"); }

.dice-roll-3 {
  background-image: url("images/dice-3.svg"); }

.dice-roll-4 {
  background-image: url("images/dice-4.svg"); }

.dice-roll-5 {
  background-image: url("images/dice-5.svg"); }

.dice-roll-6 {
  background-image: url("images/dice-6.svg"); }

#doubles {
  font-size: 0.8em; }

#dice-roll {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  #dice-roll span {
    padding: 10px; }
  #dice-roll #dice-total {
    font-weight: bold;
    font-size: 1.2em; }

.double1 .dice {
  background-color: #e9ed38; }

.double2 .dice {
  background-color: #f1970b; }

.double3 .dice,
.failed-jail-roll .dice {
  background-color: #db0926; }

.successful-jail-roll .dice {
  background-color: #0aa959; }

/* Player tokens -------------------------------------------------------------*/
.token {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 2;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center; }

#player1token {
  background-image: url("images/token-1.svg"); }

#player2token {
  background-image: url("images/token-2.svg"); }

#player3token {
  background-image: url("images/token-3.svg"); }

#player4token {
  background-image: url("images/token-4.svg"); }

#player1token {
  background-position: left bottom; }

#player2token {
  background-position: 33% bottom; }

#player3token {
  background-position: 66% bottom; }

#player4token {
  background-position: right bottom; }

/* Due to the way the JS calculates the correct position for the token and the 
   side the borders end up on, there are slightly irregularities. Likely
   not even noticeable but it bothers me otherwise */
.token[area="south"],
.token[area="east"] {
  margin-left: 1px; }

.token[area="west"] {
  margin-left: -1px; }

/* Popup ---------------------------------------------------------------------*/
#popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100; }

#popup-inner {
  background: #fff;
  border: 3px solid #000;
  padding: 20px;
  width: 800px;
  max-width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }

#popup-close {
  width: 35px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2; }

body:not(.popup-open) #popup {
  display: none; }

#popup-message {
  min-height: 100px; }

/* Jail  ---------------------------------------------------------------------*/
#jail-overlay {
  pointer-events: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99; }
  #jail-overlay:before {
    background: rgba(0, 0, 255, 0.4);
    animation-delay: 0.5s; }
  #jail-overlay:after {
    background: rgba(255, 0, 0, 0.4); }
  #jail-overlay:before, #jail-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-name: jailAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; }

.bars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3; }

.bars:first-child {
  background: url("images/jail-bars-1.png");
  animation: bars-1 0.6s both; }

.bars:last-child {
  background: url("images/jail-bars-2.png");
  animation: bars-2 0.6s both; }

.jailAnimation #jail-overlay {
  display: block;
  animation: jailFadeOut 0.7s;
  animation-delay: 2.3s; }

.jailAnimation #token {
  animation: jailTokenAnimation 1s; }

@keyframes bars-1 {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

@keyframes bars-2 {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

@keyframes jailAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes jailTokenAnimation {
  from {
    transform: scale(3); }
  to {
    transform: scale(1); } }

@keyframes jailFadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* New players  --------------------------------------------------------------*/
#new-player-overlay {
  background: #d5e8d4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center; }

/* Player summary  -----------------------------------------------------------*/
#player-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  flex-basis: 250px; }
  #player-summary h2 {
    margin: 0; }
  #player-summary > div {
    padding: 10px 20px; }

.good-change {
  animation: goodChangeAnimation 1s ease-in-out; }

@keyframes goodChangeAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.75);
    color: #0aa959; }
  100% {
    transform: scale(1); } }

.bad-change {
  animation: badChangeAnimation 1s ease-in-out; }

@keyframes badChangeAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.75);
    color: #db0926; }
  100% {
    transform: scale(1); } }

.property-portfolio-title {
  background: #000;
  color: white;
  text-transform: uppercase;
  font-size: 0.6em;
  display: block;
  padding: 5px; }

.property-portfolio {
  border: 3px solid #000;
  padding: 10px; }

.property-icon {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  border: 2px solid #000;
  display: inline-block;
  margin: 2px; }

.property-icon.brown {
  background: #824c26; }

.property-icon.lightblue {
  background: #99d1f4; }

.property-icon.pink {
  background: #d52788; }

.property-icon.orange {
  background: #f1970b; }

.property-icon.red {
  background: #db0926; }

.property-icon.yellow {
  background: #e9ed38; }

.property-icon.green {
  background: #0aa959; }

.property-icon.darkblue {
  background: #3e64ad; }

.property-icon.train-station,
.property-icon.utility {
  border: none;
  border-radius: 0;
  background-size: contain !important; }

.property-icon.train-station {
  background: url("images/station.svg") center no-repeat; }

.property-icon.electric-company {
  background: url("images/electric-company.svg") center no-repeat; }

.property-icon.water-works {
  background: url("images/water-works.svg") center no-repeat; }

/* Full portfolio view  ------------------------------------------------------*/
.full-portfolio {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .full-portfolio:before {
    content: 'PLAYER PORTFOLIO';
    color: #fff;
    background: #000;
    position: absolute;
    bottom: calc(100% + 20px);
    left: -23px;
    right: -23px;
    padding: 10px; }

.full-portfolio-item {
  display: flex;
  align-items: center;
  width: 380px; }
  .full-portfolio-item > div {
    margin: 0 10px 10px 0; }

/* Player action buttons  ----------------------------------------------------*/
.player-action-button {
  display: none; }

.current-player-summary .player-action-button {
  display: initial; }

body[dice-roll-available="false"] .roll-dice-button,
body[end-turn-available="false"] .end-turn-button {
  pointer-events: none;
  background: #ccc;
  color: #8f8f8f;
  pointer-events: none; }

body[get-out-of-jail="false"] .get-out-50-button,
body[get-out-of-jail="false"] .roll-doubles-for-jail {
  display: none !important; }

body[get-out-of-jail="true"] .current-player-summary .get-out-50-button,
body[get-out-of-jail="true"] .current-player-summary .roll-doubles-for-jail {
  display: initial !important; }

body[get-out-of-jail="true"] .current-player-summary .roll-dice-button {
  display: none; }

body[get-out-of-jail="true"][roll-doubles-for-jail="false"] .roll-doubles-for-jail {
  pointer-events: none;
  background: #ccc;
  color: #8f8f8f;
  pointer-events: none; }

/* Property overview  --------------------------------------------------------*/
.property-overview-title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif; }

.title-deed {
  font-size: 0.7em; }

.property-overview-color {
  padding: 20px;
  border: 2px solid #000;
  display: inline-block;
  min-width: 220px;
  margin-bottom: 10px; }

.property-overview-color.brown {
  background: #824c26; }

.property-overview-color.lightblue {
  background: #99d1f4; }

.property-overview-color.pink {
  background: #d52788; }

.property-overview-color.orange {
  background: #f1970b; }

.property-overview-color.red {
  background: #db0926; }

.property-overview-color.yellow {
  background: #e9ed38; }

.property-overview-color.green {
  background: #0aa959; }

.property-overview-color.darkblue {
  background: #3e64ad; }

.property-overview-house-icon {
  background: url("images/house-icon.svg") center no-repeat;
  background-size: contain;
  padding: 0 9px;
  color: #fff;
  display: inline-block;
  text-align: center;
  min-width: 14px; }

.property-overview table {
  float: none;
  margin: auto; }
  .property-overview table tr td:last-child {
    text-align: right;
    width: 60px; }
  .property-overview table tr td:first-child {
    text-align: left;
    min-width: 200px; }
  .property-overview table tr:last-child .property-overview-house-icon {
    background-image: url("images/hotel-icon.svg"); }

.back-button {
  width: 35px;
  height: 35px;
  background: url("images/back.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 68px; }

/* Building houses on property menu  -----------------------------------------*/
.build-house-button.disabled-button,
body[build-house="false"] .build-house-button {
  background: #ccc;
  color: #8f8f8f;
  pointer-events: none; }

.house-visual-display {
  height: 35px; }

.house-visual-display[houses="0"] {
  background: url("images/house-visual-display-0.svg") center no-repeat;
  background-size: contain; }

.house-visual-display[houses="1"] {
  background: url("images/house-visual-display-1.svg") center no-repeat;
  background-size: contain; }

.house-visual-display[houses="2"] {
  background: url("images/house-visual-display-2.svg") center no-repeat;
  background-size: contain; }

.house-visual-display[houses="3"] {
  background: url("images/house-visual-display-3.svg") center no-repeat;
  background-size: contain; }

.house-visual-display[houses="4"] {
  background: url("images/house-visual-display-4.svg") center no-repeat;
  background-size: contain; }

.house-visual-display[houses="5"] {
  background: url("images/house-visual-display-5.svg") center no-repeat;
  background-size: contain; }

/* Left panel  ---------------------------------------------------------------*/
#left-panel {
  flex-basis: 275px;
  margin-right: 20px;
  align-self: stretch; }

/* Bank  ---------------------------------------------------------------------*/
#bank {
  border: 3px solid #000;
  background: #fff;
  margin-bottom: 10px; }

#bank-content {
  min-height: 115px;
  display: flex;
  justify-content: space-between; }

#bank-content > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

#bank-title {
  background: #000 url("images/bank.svg") 10px center no-repeat;
  background-size: 20px;
  padding: 5px;
  color: #fff; }

.bank-house-icon,
.bank-hotel-icon {
  width: 20px;
  height: 20px;
  background: url("images/house-icon.svg") center no-repeat;
  background-size: contain;
  margin: 1px; }

.bank-hotel-icon {
  background-image: url("images/hotel-icon.svg"); }

/* Feed  ---------------------------------------------------------------------*/
#feed {
  background: #fff;
  color: #000;
  position: relative;
  border: 3px solid #000;
  min-height: calc(100% - 175px); }

#feed-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: #000;
  color: #fff; }

#feed-content {
  max-height: calc(100% - 38px);
  overflow-y: auto; }

#feed-content > div {
  padding: 10px 10px 10px 60px;
  font-size: 0.8em;
  background-position: 18px center, 10px center;
  background-size: 28px, 42px;
  background-repeat: no-repeat;
  text-align: left;
  min-height: 42px;
  position: relative;
  display: flex;
  align-items: center; }

#feed-content > div:first-child {
  animation: feedSlideIn 0.3s linear;
  animation-iteration-count: 1; }

@keyframes feedSlideIn {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0); } }

/* Feed icons ----------------------------------------------------------------*/
.money-plus {
  background-image: url("images/feed-icons/money-plus.svg"), url("images/feed-icons/feed-circle.svg"); }

.money-minus {
  background-image: url("images/feed-icons/money-minus.svg"), url("images/feed-icons/feed-circle.svg"); }

.get-out-card {
  background-image: url("images/feed-icons/get-out-card.svg"), url("images/feed-icons/feed-circle.svg"); }

.go-to-jail {
  background-image: url("images/feed-icons/go-to-jail.svg"), url("images/feed-icons/feed-circle.svg"); }

.advance {
  background-image: url("images/feed-icons/advance.svg"), url("images/feed-icons/feed-circle.svg"); }

.failed-jail-roll {
  background-image: url("images/feed-icons/failed-jail-roll.svg"), url("images/feed-icons/feed-circle.svg"); }

.doubles {
  background-image: url("images/feed-icons/doubles.svg"), url("images/feed-icons/feed-circle.svg"); }

.doubles-2nd {
  background-image: url("images/feed-icons/doubles-2nd.svg"), url("images/feed-icons/feed-circle.svg"); }

.out-of-jail {
  background-image: url("images/feed-icons/out-of-jail.svg"), url("images/feed-icons/feed-circle.svg"); }

.rent {
  background-image: url("images/feed-icons/rent.svg"), url("images/feed-icons/feed-circle.svg"); }

.doubles-out-of-jail {
  background-image: url("images/feed-icons/doubles-out-of-jail.svg"), url("images/feed-icons/feed-circle.svg"); }

.buy-property {
  background-image: url("images/feed-icons/buy-property.svg"), url("images/feed-icons/feed-circle.svg"); }

/* Testing panel -------------------------------------------------------------*/
#testing-panel,
#testing-toggle-panel {
  background: #000;
  color: #fff;
  padding: 10px; }

body:not(.testing-panel-enabled) #testing-panel {
  display: none; }

#testing-toggle-panel {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  justify-content: space-around;
  display: flex; }
