/* Monopoly SCSS */
/* Created by Ceri Woolway beginning October 2020 */
/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Kabel-Heavy";
  src: url("fonts/Kabel-Heavy.eot?") format("eot"), url("fonts/Kabel-Heavy.woff") format("woff"), url("fonts/Kabel-Heavy.ttf") format("truetype"), url("fonts/Kabel-Heavy.svg#Kabel-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Kabel-Heavy', sans-serif;
  font-size: 24px;
  min-height: 100vh;
  padding: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: #d5e8d4;
  text-align: center; }

#board {
  border: 3px solid #000;
  display: grid;
  grid-template-columns: 80px auto 80px;
  grid-template-rows: 80px auto 80px;
  max-width: 900px;
  position: relative; }

#south {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row-reverse; }
  #south > div {
    border-left: 3px solid #000;
    border-top: 3px solid #000; }
  #south > div:last-child {
    border-left: none; }

#south > div:nth-child(1) {
  grid-column-start: 12;
  grid-column-end: 11; }

#south > div:nth-child(2) {
  grid-column-start: 11;
  grid-column-end: 10; }

#south > div:nth-child(3) {
  grid-column-start: 10;
  grid-column-end: 9; }

#south > div:nth-child(4) {
  grid-column-start: 9;
  grid-column-end: 8; }

#south > div:nth-child(5) {
  grid-column-start: 8;
  grid-column-end: 7; }

#south > div:nth-child(6) {
  grid-column-start: 7;
  grid-column-end: 6; }

#south > div:nth-child(7) {
  grid-column-start: 6;
  grid-column-end: 5; }

#south > div:nth-child(8) {
  grid-column-start: 5;
  grid-column-end: 4; }

#south > div:nth-child(9) {
  grid-column-start: 4;
  grid-column-end: 3; }

#south > div:nth-child(10) {
  grid-column-start: 3;
  grid-column-end: 2; }

#west {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  flex-direction: column-reverse; }
  #west > div {
    border-right: 3px solid #000;
    border-top: 3px solid #000; }
  #west > div:last-child {
    border-top: none; }

#north {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }
  #north > div {
    border-right: 3px solid #000;
    border-bottom: 3px solid #000; }
  #north > div:last-child {
    border-right: none; }

#east {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  flex-direction: column; }
  #east > div {
    border-left: 3px solid #000;
    border-bottom: 3px solid #000; }
  #east > div:last-child {
    border-bottom: none; }

.corner.special {
  flex-basis: 80px;
  flex-grow: unset;
  flex-shrink: unset; }

.row {
  display: flex;
  overflow: hidden; }

.row > div {
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  flex-basis: 7%; }

.property,
.community-chest,
.special,
.station,
.chance,
.utility {
  padding: 5px;
  text-align: center;
  font-size: 10px;
  min-height: 50px; }

/* Normal property -----------------------------------------------------------*/
.property {
  position: relative;
  padding-top: 20px;
  text-align: center; }
  .property:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    border-bottom: 3px solid #000; }

.property.brown:before {
  background: #824c26; }

.property.lightblue:before {
  background: #99d1f4; }

.property.pink:before {
  background: #d52788; }

.property.orange:before {
  background: #f1970b; }

.property.red:before {
  background: #db0926; }

.property.yellow:before {
  background: #e9ed38; }

.property.green:before {
  background: #0aa959; }

.property.darkblue:before {
  background: #3e64ad; }

.property-price {
  font-size: 14px; }

/* Special property ----------------------------------------------------------*/
.community-chest {
  background: url("images/community-chest.svg") center no-repeat;
  background-size: contain; }

.station {
  background: url("images/station.svg") center no-repeat;
  background-size: contain; }

.chance {
  background: url("images/chance.svg") center no-repeat;
  background-size: contain; }

/* Dice ----------------------------------------------------------------------*/
.dice {
  width: 35px;
  height: 35px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 5px;
  background-size: contain; }

.dice-roll-1 {
  background-image: url("images/dice-1.svg"); }

.dice-roll-2 {
  background-image: url("images/dice-2.svg"); }

.dice-roll-3 {
  background-image: url("images/dice-3.svg"); }

.dice-roll-4 {
  background-image: url("images/dice-4.svg"); }

.dice-roll-5 {
  background-image: url("images/dice-5.svg"); }

.dice-roll-6 {
  background-image: url("images/dice-6.svg"); }

#doubles {
  font-size: 0.8em; }

#dice-roll {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  #dice-roll span {
    padding: 10px; }
  #dice-roll #dice-total {
    font-weight: bold;
    font-size: 1.2em; }

.double1 .dice {
  background-color: #e9ed38; }

.double2 .dice {
  background-color: #f1970b; }

.double3 .dice,
.failed-jail-roll .dice {
  background-color: #db0926; }

.successful-jail-roll .dice {
  background-color: #0aa959; }

/* Player tokens -------------------------------------------------------------*/
.token {
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 2;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center; }

#player1token {
  background-image: url("images/token-1.svg"); }

#player2token {
  background-image: url("images/token-2.svg"); }

#player3token {
  background-image: url("images/token-3.svg"); }

#player4token {
  background-image: url("images/token-4.svg"); }

#player1token {
  background-position: left bottom; }

#player2token {
  background-position: 33% bottom; }

#player3token {
  background-position: 66% bottom; }

#player4token {
  background-position: right bottom; }

/* Due to the way the JS calculates the correct position for the token and the 
   side the borders end up on, there are slightly irregularities. Likely
   not even noticeable but it bothers me otherwise */
.token[area="south"],
.token[area="east"] {
  margin-left: 1px; }

.token[area="west"] {
  margin-left: -1px; }

/* Popup ---------------------------------------------------------------------*/
#popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100; }

#popup-inner {
  background: #fff;
  border: 3px solid #000;
  padding: 20px;
  width: 800px;
  max-width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }

#popup-close {
  width: 35px;
  float: right; }

body:not(.popup-open) #popup {
  display: none; }

/* Jail  ---------------------------------------------------------------------*/
#jail-overlay {
  pointer-events: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99; }
  #jail-overlay:before {
    background: rgba(0, 0, 255, 0.4);
    animation-delay: 0.5s; }
  #jail-overlay:after {
    background: rgba(255, 0, 0, 0.4); }
  #jail-overlay:before, #jail-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation-name: jailAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite; }

.bars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3; }

.bars:first-child {
  background: url("images/jail-bars-1.png");
  animation: bars-1 0.6s both; }

.bars:last-child {
  background: url("images/jail-bars-2.png");
  animation: bars-2 0.6s both; }

.jailAnimation #jail-overlay {
  display: block;
  animation: jailFadeOut 0.7s;
  animation-delay: 2.3s; }

.jailAnimation #token {
  animation: jailTokenAnimation 1s; }

@keyframes bars-1 {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

@keyframes bars-2 {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

@keyframes jailAnimation {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes jailTokenAnimation {
  from {
    transform: scale(3); }
  to {
    transform: scale(1); } }

@keyframes jailFadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* New players  --------------------------------------------------------------*/
#new-player-overlay {
  background: #d5e8d4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100; }

/* Player summary  -----------------------------------------------------------*/
#player-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box; }
  #player-summary h2 {
    margin: 0; }
  #player-summary > div {
    padding: 40px 20px; }

.good-change {
  animation: goodChangeAnimation 1s ease-in-out; }

@keyframes goodChangeAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.75);
    color: #0aa959; }
  100% {
    transform: scale(1); } }

.bad-change {
  animation: badChangeAnimation 1s ease-in-out; }

@keyframes badChangeAnimation {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.75);
    color: #db0926; }
  100% {
    transform: scale(1); } }

/* Player action buttons  ----------------------------------------------------*/
.player-action-button {
  display: none; }

.current-player-summary .player-action-button {
  display: initial; }

body[dice-roll-available="false"] .roll-dice-button,
body[end-turn-available="false"] .end-turn-button {
  pointer-events: none;
  background: #ccc;
  color: #8f8f8f; }

body[get-out-of-jail="false"] .get-out-50-button,
body[get-out-of-jail="false"] .roll-doubles-for-jail {
  display: none !important; }

body[get-out-of-jail="true"] .current-player-summary .get-out-50-button,
body[get-out-of-jail="true"] .current-player-summary .roll-doubles-for-jail {
  display: initial !important; }

body[get-out-of-jail="true"] .current-player-summary .roll-dice-button {
  display: none; }

body[get-out-of-jail="true"][roll-doubles-for-jail="false"] .roll-doubles-for-jail {
  pointer-events: none;
  background: #ccc;
  color: #8f8f8f; }
