/* Monopoly SCSS */
/* Created by Ceri Woolway beginning October 2020 */

// General colours
$lightgreen  : #d5e8d4;
$black       : #000;


// Property colours

$brown      : #824c26;
$lightblue  : #99d1f4;
$pink       : #d52788;
$orange     : #f1970b;
$red        : #db0926;
$yellow     : #e9ed38;
$green      : #0aa959;
$darkblue   : #3e64ad;


$border: 3px solid $black;

/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {font-family:"Kabel-Heavy";src:url("fonts/Kabel-Heavy.eot?") format("eot"),url("fonts/Kabel-Heavy.woff") format("woff"),url("fonts/Kabel-Heavy.ttf") format("truetype"),url("fonts/Kabel-Heavy.svg#Kabel-Heavy") format("svg");font-weight:normal;font-style:normal;}

body{
    font-family: 'Kabel-Heavy', sans-serif;
    font-size: 24px;
    min-height: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: $lightgreen;
}


#board{
    border: $border;
}

.row{
    display: flex;
}

.row > div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 7%;
    //font-size: 1vw;
}

.property,
.community-chest,
.special,
.station,
.chance,
.utility{
    border-top: $border;
    border-left: $border;
    padding: 1vw;
    text-align: center;
    font-size: 1vw;
    height: 200px;

}

/* Normal property -------------------------------------------------*/

.property{
    position: relative;
    padding-top: 100px;
    text-align: center;
    border-top: $border;
    border-left: $border;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
        border-bottom: $border;
    }
}

.property.brown:before{background: $brown;}
.property.lightblue:before{background: $lightblue;}
.property.pink:before{background: $pink;}
.property.orange:before{background: $orange;}
.property.red:before{background: $red;}
.property.yellow:before{background: $yellow;}
.property.green:before{background: $green;}
.property.darkblue:before{background: $darkblue;}

.property-price{
    font-size: 20px;
}

/* Special property -------------------------------------------------*/

.community-chest{
    background: url('images/community-chest.svg') center no-repeat;
    background-size: contain;
}

.station{
    background: url('images/station.svg') center no-repeat;
    background-size: contain;
}

.chance{
    background: url('images/chance.svg') center no-repeat;
    background-size: contain;
}


/* Popup ----------------------------------------------------------*/

#popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba($black, 0.7);
}

#popup-inner{
    background: #fff;
    border: $border;
    padding: 20px;
    width: 800px;
    max-width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px rgba(black, 0.4);
}

#popup-close{
    width: 35px;
    float: right;
}

body:not(.popup-open) #popup{
    display: none;
}