/* Monopoly SCSS */
/* Created by Ceri Woolway beginning October 2020 */
/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: "Kabel-Heavy";
  src: url("fonts/Kabel-Heavy.eot?") format("eot"), url("fonts/Kabel-Heavy.woff") format("woff"), url("fonts/Kabel-Heavy.ttf") format("truetype"), url("fonts/Kabel-Heavy.svg#Kabel-Heavy") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Kabel-Heavy', sans-serif;
  font-size: 24px;
  min-height: 100vh;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #d5e8d4;
  text-align: center; }

#board {
  border: 3px solid #000;
  display: grid;
  grid-template-columns: 75px auto 75px;
  grid-template-rows: 75px auto 75px;
  max-width: 900px;
  position: relative; }

#south {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto 75px; }
  #south > div {
    grid-row: 1 / 1;
    border-left: 3px solid #000;
    border-top: 3px solid #000; }
  #south > div:last-child {
    border-left: none; }

#south > div:nth-child(1) {
  grid-column-start: 12;
  grid-column-end: 11; }

#south > div:nth-child(2) {
  grid-column-start: 11;
  grid-column-end: 10; }

#south > div:nth-child(3) {
  grid-column-start: 10;
  grid-column-end: 9; }

#south > div:nth-child(4) {
  grid-column-start: 9;
  grid-column-end: 8; }

#south > div:nth-child(5) {
  grid-column-start: 8;
  grid-column-end: 7; }

#south > div:nth-child(6) {
  grid-column-start: 7;
  grid-column-end: 6; }

#south > div:nth-child(7) {
  grid-column-start: 6;
  grid-column-end: 5; }

#south > div:nth-child(8) {
  grid-column-start: 5;
  grid-column-end: 4; }

#south > div:nth-child(9) {
  grid-column-start: 4;
  grid-column-end: 3; }

#south > div:nth-child(10) {
  grid-column-start: 3;
  grid-column-end: 2; }

#west {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  flex-direction: column-reverse; }
  #west > div {
    border-right: 3px solid #000;
    border-top: 3px solid #000; }
  #west > div:last-child {
    border-top: none; }

#north {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }
  #north > div {
    border-right: 3px solid #000;
    border-bottom: 3px solid #000; }
  #north > div:last-child {
    border-right: none; }

#east {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  flex-direction: column; }
  #east > div {
    border-left: 3px solid #000;
    border-bottom: 3px solid #000; }
  #east > div:last-child {
    border-bottom: none; }

.corner.special {
  flex-basis: 75px;
  flex-grow: unset;
  flex-shrink: unset; }

.row {
  display: flex;
  overflow: hidden; }

.row > div {
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  flex-basis: 7%; }

.property,
.community-chest,
.special,
.station,
.chance,
.utility {
  padding: 5px;
  text-align: center;
  font-size: 10px;
  min-height: 50px; }

/* Normal property -----------------------------------------------------------*/
.property {
  position: relative;
  padding-top: 20px;
  text-align: center; }
  .property:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    border-bottom: 3px solid #000; }

.property.brown:before {
  background: #824c26; }

.property.lightblue:before {
  background: #99d1f4; }

.property.pink:before {
  background: #d52788; }

.property.orange:before {
  background: #f1970b; }

.property.red:before {
  background: #db0926; }

.property.yellow:before {
  background: #e9ed38; }

.property.green:before {
  background: #0aa959; }

.property.darkblue:before {
  background: #3e64ad; }

.property-price {
  font-size: 14px; }

/* Special property ----------------------------------------------------------*/
.community-chest {
  background: url("images/community-chest.svg") center no-repeat;
  background-size: contain; }

.station {
  background: url("images/station.svg") center no-repeat;
  background-size: contain; }

.chance {
  background: url("images/chance.svg") center no-repeat;
  background-size: contain; }

/* Dice ----------------------------------------------------------------------*/
.dice {
  width: 35px;
  height: 35px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 5px;
  background-size: contain; }

.dice-roll-1 {
  background-image: url("images/dice-1.svg"); }

.dice-roll-2 {
  background-image: url("images/dice-2.svg"); }

.dice-roll-3 {
  background-image: url("images/dice-3.svg"); }

.dice-roll-4 {
  background-image: url("images/dice-4.svg"); }

.dice-roll-5 {
  background-image: url("images/dice-5.svg"); }

.dice-roll-6 {
  background-image: url("images/dice-6.svg"); }

#doubles {
  font-size: 0.8em; }

#dice-roll {
  display: flex;
  align-items: center; }
  #dice-roll span {
    padding: 10px; }
  #dice-roll #dice-total {
    font-weight: bold;
    font-size: 1.2em; }

.double1 .dice {
  background-color: #e9ed38; }

.double2 .dice {
  background-color: #f1970b; }

.double3 .dice {
  background-color: #db0926; }

/* Player tokens -------------------------------------------------------------*/
#token {
  background: url("images/token.svg") center no-repeat;
  background-size: contain; }

.token {
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 2; }

/* SOUTH ----------------------------- */
.token[area="south"] {
  bottom: 0; }

.token[position="0"] {
  right: 0; }

.token[position="1"] {
  right: 10%; }

.token[position="2"] {
  right: 20%; }

.token[position="3"] {
  right: 30%; }

.token[position="4"] {
  right: 40%; }

.token[position="5"] {
  right: 50%; }

.token[position="6"] {
  right: 60%; }

.token[position="7"] {
  right: 70%; }

.token[position="8"] {
  right: 80%; }

.token[position="9"] {
  right: 90%; }

/* WEST ----------------------------- */
.token[area="west"] {
  left: 0;
  right: unset; }

.token[position="10"] {
  bottom: 0; }

.token[position="11"] {
  bottom: 10%; }

.token[position="12"] {
  bottom: 20%; }

.token[position="13"] {
  bottom: 30%; }

.token[position="14"] {
  bottom: 40%; }

.token[position="15"] {
  bottom: 50%; }

.token[position="16"] {
  bottom: 60%; }

.token[position="17"] {
  bottom: 70%; }

.token[position="18"] {
  bottom: 80%; }

.token[position="19"] {
  bottom: 90%; }

/* NORTH ----------------------------- */
.token[area="north"] {
  top: 0;
  bottom: unset; }

.token[position="20"] {
  left: 0; }

.token[position="21"] {
  left: 10%; }

.token[position="22"] {
  left: 20%; }

.token[position="23"] {
  left: 30%; }

.token[position="24"] {
  left: 40%; }

.token[position="25"] {
  left: 50%; }

.token[position="26"] {
  left: 60%; }

.token[position="27"] {
  left: 70%; }

.token[position="28"] {
  left: 80%; }

.token[position="29"] {
  left: 90%; }

/* EAST ----------------------------- */
.token[area="east"] {
  right: 0;
  left: unset; }

.token[position="30"] {
  left: 0; }

.token[position="31"] {
  left: 10%; }

.token[position="32"] {
  left: 20%; }

.token[position="33"] {
  left: 30%; }

.token[position="34"] {
  left: 40%; }

.token[position="35"] {
  left: 50%; }

.token[position="36"] {
  left: 60%; }

.token[position="37"] {
  left: 70%; }

.token[position="38"] {
  left: 80%; }

.token[position="39"] {
  left: 90%; }

/* Popup ---------------------------------------------------------------------*/
#popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); }

#popup-inner {
  background: #fff;
  border: 3px solid #000;
  padding: 20px;
  width: 800px;
  max-width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }

#popup-close {
  width: 35px;
  float: right; }

body:not(.popup-open) #popup {
  display: none; }

#test-grid {
  display: grid; }
